<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>HOSTNAME</th> <th>IP</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="node : ${nodes}">
        <td th:text="${node.id}"></td>
        <td th:text="${node.hostname}"></td>
        <td th:text="${node.publicIP}"></td>
        <td th:text="${node.nodeID}"></td>
        <td th:text="${node.nodePW}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>
